global
  log stdout format raw daemon

defaults
  log     global
  mode    http
  option  httplog
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend http-in
  bind *:80
  acl api1_host hdr(host) -i api1.localhost
  acl api2_host hdr(host) -i api2.localhost
  use_backend api1 if api1_host
  use_backend api2 if api2_host
  default_backend api1

backend api1
  server api1 api-1:9999 check

backend api2
  server api2 api-2:9999 check
